body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Franklin Gothic Medium';
}

.website-container {
  min-height: 100vh;
}

.navbar {
  background-color: darksalmon;
  /* padding: 1rem; */
  /* font-size: 16pt; */
}

/* .navbar-brand {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium';
} */

main {
  padding: 1rem;
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  /* border: 1px black solid; */
  margin: 1rem;
}

.product img {
  width: 100%;
  /* max-width: 400px; */
  height: 400px;
  object-fit: cover;
}

.product-name-menu {
  text-decoration: none;
  color: black;
}

.product-name-menu:hover {
  color: black;
}

.product-details {
  padding: 1rem;
  background-color: #f5f5fa;
}

.rating span {
  color: darksalmon;
}

.stars {
  margin-right: 0.5rem;
}

.btn-primary {
  background-color: darksalmon;
  color: black;
  border: none;
}

.product-page-image {
  max-width: 100%;
}

.in-stock {
  width: 30%;
}

.add-to-cart {
  margin-top: 1rem;
  width: 30%;
}

.thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}
