body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Franklin Gothic Medium';
}

header {
  background-color: darksalmon;
  padding: 1rem;
  font-size: 16pt;
}

header a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium';
}

main {
  padding: 1rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 1px black solid;
  margin: 1rem;
}

.item img {
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: cover;
}

.item-details {
  padding: 1rem;
}
